.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f00;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.phone-button.call {
  background-color: #0a9;
}

.phone-button.answer {
  position: relative;
  background-color: #0c0;
}

.phone-button.answer::before, 
.phone-button.answer::after{
  content:'';
  position: absolute;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid #0c0;
  border-radius: 50%;
  box-shadow: 0 0 2px #0c0, inset 0 0 2px #0c0;
  /* transform: scale(1.5); */
  animation: circle1 1.2s infinite linear;
}

.phone-button.answer::after{
  animation-delay: .4s;
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: .9;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.2;
  }
}